:root{
    font-family: "Alice", serif;
    line-height: 150%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bg-image.jpg);
    background-size: cover;
}

img{
    max-width: 100%;
    display: block;
    border-radius: 24px;
}

.container{
    border-radius: 10px;
    max-width: 800px;
    background-color: aliceblue;
    padding: 24px;
    margin: 40px auto;
}

section{
    padding-top: 24px;
}

section.about h1{
    font-size: 48px;
    margin-bottom: 16px;
    color: #291B1A;
}

section.about p{
    font-size: 20px;
    line-height: 24px;
    color: #573A37;
}

section.about span{
    padding-top: 10px;
    display: block;
    font-size: 20px;
    color: #573A37;
}

section.ingredients h2,
section.preparation h2{
    font-size: 32px;
    margin-bottom: 16px;
    color: #291B1A;

}

